# .releaserc
branches: ["main", "AVSTCLOUD-3149-Provision-infra-for-Gatling-test"]
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - ["@semantic-release/changelog", { "changelogFile": "CHANGELOG.md" }]
  - ["@semantic-release/git", { "assets": ["CHANGELOG.md", "README.md"] }]